body {
  color: white;
  background-color: black;
}

#resume {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    height: 1200px;
    background-color: rgba(0, 0, 0, .3);
}
.resume_header {
    color: cyan;
    text-align: center;
    font-family: micro;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.resume_header h1 {
    font-size: 12px;
    letter-spacing: 2px;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_header_01 {
    line-height: 175px;
}
#resume_header_02 {
    line-height: 175px;
}
#resume_header_03 {
    line-height: 375px;
}
#resume_header_04 {
    line-height: 375px;
}
#resume_header_05 {
    line-height: 375px;
}
#resume_header_06 {
    line-height: 130px;
}


/*-- RESUME LAYOUTS --*/
.resume_layout {
    position: absolute;
    margin: 1%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.resume_outline {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid thin rgba(0, 139, 139, 1);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.resume_middle {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, .8);
    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.resume_middle_outline {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: solid thin rgba(0, 255, 255, .7);
    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}



#resume_layout_01 {
    top: 0;
    left: 0;
    width: 48%;
    height: 200px;
    z-index: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_01_pic {
    position: absolute;
    top: 15%;
    left: 10%;
  right: 10%;
    width: 30%;
    height: 150px;
    /*background-color: gray;*/

    background-image: url(image.png);
background-size: cover;
background-repeat: no-repeat;
    opacity: .1;
    
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_01_pic:hover {

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_01_text {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_01_text h1 {
    font-family: micro;
    font-size: 14px;
    color: cyan;
}
#resume_layout_01_text p {
    color: rgb(0, 194, 194);
    text-indent: 10px;
    line-height: 5px;
    font-family: dinotcond;
    font-size: 14px;
    letter-spacing: 1px;
}




#resume_layout_02 {
    top: 0;
    right: 0;
    width: 48%;
    height: 200px;
    z-index: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_02_text {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 90%;
    text-align: center;
    line-height: 0;
    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.resume_layout_02_p_01 {
    display: inline-block;
    color: darkcyan;
}
.resume_layout_02_p_02 {
    display: inline-block;
    color: cyan;
}
#resume_layout_02_links {
    position: absolute;
    left: 5%;
    bottom: 20px;
    z-index: 10;
    width: 90%;
    text-align: center;
    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_02_facebook {
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
   /* background-color: gray;*/
    background-image: url(Fb.png);
    background-size: cover;

    
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_facebook:hover {
    margin: 20px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_twitter {
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    /*background-color: gray;*/
     background-image: url(Tw.png);
    background-size: cover;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_twitter:hover {
    margin: 20px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_viadeo {
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/9501/9501970.png);
    background-size: cover;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_viadeo:hover {
    margin: 20px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_discord {
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABDUlEQVR4AWP4////gOLB44D6nTcsGIo33QHi/zTGd0B2YTiAPpYjHIHNAf/piQk6wGPW8f/rLz8HYRCbXg5AWI4GQGJ0cwDY12gAJDbcHUA4CkZAIqQUK7Ts/m/SfxBMs5RupswBaACr+P47b/5zlG/5DyzZ/r/+8hNF7vuvP//nn3r0X6JhJ+0ccPrR+/+H7735jw9cf/n5v0D1Nuo5gBxQve06zR0AjoL7b7/+//zjN4bc+ScfaOeA33///k9Yfg4mDw7u/Xdeo6uhnQP6D93FMNxlxjF0ZbRzgMXEQ9iyI90cALIMJoccDXRzAK6CZog6YNQBow6gIx54Bwx4x2RAu2bAysoEZu9o7xgAQrvkxt3WZi0AAAAASUVORK5CYII=);
    background-size: cover;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_jsfiddle:hover {
    margin: 20px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_github {
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
   background-image: url(git.png);
    background-size: cover;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_02_github:hover {
    margin: 20px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}



#resume_layout_03 {
    top: 210px;
    left: 0;
    width: 98%;
    height: 400px;
    z-index: 1;
}


#resume_layout_03_skills {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 40%;

    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_skills_html {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 139, 139, .5);
    background: -webkit-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);


    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_skills_html::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 255, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_html:hover::before {
    background-color: cyan;
    box-shadow: 0px 0px 30px 10px rgba(122, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_html::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_html:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_html p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_skills_css {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 139, 139, .5);
    background: -webkit-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_skills_css::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 255, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_css:hover::before {
    background-color: cyan;
    box-shadow: 0px 0px 30px 10px rgba(122, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_css::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_css:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_css p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_skills_ui_ux {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 139, 139, .5);
    background: -webkit-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_skills_ui_ux::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 255, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_ui_ux:hover::before {
    background-color: cyan;
    box-shadow: 0px 0px 30px 10px rgba(122, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_ui_ux::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_ui_ux:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_ui_ux p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_skills_photography {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 139, 139, .5);
    background: -webkit-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_skills_photography::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 255, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_photography:hover::before {
    background-color: cyan;
    box-shadow: 0px 0px 30px 10px rgba(122, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_photography::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_photography:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_photography p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_skills_print {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 139, 139, .5);
    background: -webkit-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 255, 255, .2), rgba(0, 0, 0, 0));

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_skills_print::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 255, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_print:hover::before {
    background-color: cyan;
    box-shadow: 0px 0px 30px 10px rgba(122, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_print::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 255, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_print:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_skills_print p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}



#resume_layout_03_programs {
    position: absolute;
    top: 25%;
    right: 5%;
    width: 40%;

    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_programs_photoshop {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 100, 255, .5);
    background: -webkit-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_programs_photoshop::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 100, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_photoshop:hover::before {
    background-color: rgb(0, 100, 255);
    box-shadow: 0px 0px 30px 10px rgba(0, 100, 255, 0.5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_photoshop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 100, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_photoshop:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_photoshop p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_programs_illustrator {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 100, 255, .5);
    background: -webkit-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_programs_illustrator::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 100, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_illustrator:hover::before {
    background-color: rgb(0, 100, 255);
    box-shadow: 0px 0px 30px 10px rgba(0, 100, 255, 0.5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_illustrator::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 100, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_illustrator:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_illustrator p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_programs_after_effects {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 100, 255, .5);
    background: -webkit-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_programs_after_effects::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 100, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_after_effects:hover::before {
    background-color: rgb(0, 100, 255);
    box-shadow: 0px 0px 30px 10px rgba(0, 100, 255, 0.5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_after_effects::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 100, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_after_effects:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_after_effects p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_programs_premiere_pro {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 100, 255, .5);
    background: -webkit-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_programs_premiere_pro::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 100, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_premiere_pro:hover::before {
    background-color: rgb(0, 100, 255);
    box-shadow: 0px 0px 30px 10px rgba(0, 100, 255, 0.5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_premiere_pro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 100, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_premiere_pro:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_premiere_pro p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#resume_03_programs_blender {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: solid thin rgba(0, 100, 255, .5);
    background: -webkit-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 100, 255, .2), rgba(0, 0, 0, 0));
    

    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_03_programs_blender::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scale(.8);
    background-color: rgba(0, 100, 255, .3);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_blender:hover::before {
    background-color: rgb(0, 100, 255);
    box-shadow: 0px 0px 30px 10px rgba(0, 100, 255, 0.5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_blender::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 100%;
    -webkit-transform: scaleY(.8);
    -moz-transform: scaleY(.8);
    transform: scaleY(.8);
    background-color: rgba(0, 100, 255, .5);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_blender:hover::after {
    width: 79%;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_03_programs_blender p {
    line-height: 5px;
    text-indent: 40px;

    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}


#resume_layout_04 {
    top: 620px;
    left: 0;
    width: 48%;
    height: 400px;
    z-index: 1;
}
#resume_layout_04_text {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    text-align: center;

    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_04_text h2 {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, .3);
}
#resume_layout_04_text p {
    text-shadow: 2px 20px 15px rgba(0, 139, 139, .5);
}
.resume_text {
    color: darkcyan;
    line-height: 10px;
}
.resume_date {
    color: gray;
    font-style: italic;
}


#resume_layout_05 {
    top: 620px;
    right: 0;
    width: 48%;
    height: 400px;
    z-index: 1;
}
#resume_layout_05_text {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    text-align: center;

    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_05_text h2 {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, .3);
}
#resume_layout_05_text p {
    text-shadow: 2px 20px 15px rgba(0, 139, 139, .5);
}




#resume_layout_06 {
    bottom: 0;
    left: 0;
    width: 98%;
    height: 150px;
    z-index: 1;
    text-align: center;
}
#resume_layout_06_interests {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 90%;

    opacity: .1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_layout_06_interests p {
    position: absolute;
    bottom: -5%;
    width: 100%;
    opacity: 0;
    font-family: micro;
    color: cyan;
    letter-spacing: 1px;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_travel {
    position: absolute;
    top: 10%;
    width: 20%;
    height: 70%;
    background-image: url(Vy.png);
    background-size: cover;
    opacity: .3;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_travel:hover {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_travel:hover > p {
    bottom: -30%;
    opacity: 1;
    color: white;
    text-shadow: 2px 20px 15px rgba(255, 255, 255, .5);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_finance {
    position: absolute;
    top: 10%;
    left: 27%;
    width: 20%;
    height: 70%;
     background-image: url(Fn.png);
    background-size: cover;

    opacity: .3;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_finance:hover {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_finance:hover > p {
    bottom: -30%;
    opacity: 1;
    color: white;
    text-shadow: 2px 20px 15px rgba(255, 255, 255, .5);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_media {
    position: absolute;
    top: 10%;
    right: 27%;
    width: 20%;
    height: 70%;
   background-image: url(Md.png);
    background-size: cover;

    opacity: .3;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_media:hover {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_media:hover > p {
    bottom: -30%;
    opacity: 1;
    color: white;
    text-shadow: 2px 20px 15px rgba(255, 255, 255, .5);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_beat {
    position: absolute;
    top: 10%;
    right: 0;
    width: 20%;
    height: 70%;
     background-image: url(Sp.png);
    background-size: cover;

    opacity: .3;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_beat:hover {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#resume_06_interests_beat:hover > p {
    bottom: -30%;
    opacity: 1;
    color: white;
    text-shadow: 2px 20px 15px rgba(255, 255, 255, .5);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}




/*-- RESUME FUNCTIONS --*/
.resume_layout:hover > .resume_header {
    background: rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, 0);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#resume_layout_01:hover {
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);

    -webkit-transform: perspective(200px) rotateX(20deg);
    -moz-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(5deg);
}
#resume_layout_01:hover > .resume_outline {
    top: -10%;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_01:hover > .resume_middle {
    top: -5%;
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);
    background: rgba(0, 0, 0, .1);
    border: solid thin rgba(128, 128, 128, .5);
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_01:hover > .resume_middle_outline {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_01:hover > #resume_layout_01_pic {
    top: -5%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_01:hover > #resume_layout_01_text {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_01:hover > #resume_layout_01_text h1 {
    text-shadow: 5px 15px 15px rgba(0, 255, 255, .5);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_01:hover > #resume_layout_01_text p {
    text-shadow: 5px 15px 15px rgba(0, 255, 255, .3);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}


#resume_layout_02:hover {
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);

    -webkit-transform: perspective(200px) rotateX(20deg);
    -moz-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(5deg);
}
#resume_layout_02:hover > .resume_outline {
    top: -10%;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_02:hover > .resume_middle {
    top: -5%;
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);
    background: rgba(0, 0, 0, .1);
    border: solid thin rgba(128, 128, 128, .5);
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_02:hover > .resume_middle_outline {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_02:hover > #resume_layout_02_links {
    bottom: 30%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_02:hover > #resume_layout_02_text {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}


#resume_layout_03:hover {
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);

    -webkit-transform: perspective(200px) rotateX(20deg);
    -moz-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(5deg);
}
#resume_layout_03:hover > .resume_outline {
    top: -10%;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_03:hover > .resume_middle {
    top: -5%;
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);
    background: rgba(0, 0, 0, .1);
    border: solid thin rgba(128, 128, 128, .5);
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_03:hover > .resume_middle_outline {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_03:hover > #resume_layout_03_skills {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_03:hover > #resume_layout_03_programs {
    top: 0%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}


#resume_layout_04:hover {
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);

    -webkit-transform: perspective(200px) rotateX(20deg);
    -moz-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(5deg);
}
#resume_layout_04:hover > .resume_outline {
    top: -10%;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_04:hover > .resume_middle {
    top: -5%;
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);
    background: rgba(0, 0, 0, .1);
    border: solid thin rgba(128, 128, 128, .5);
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_04:hover > .resume_middle_outline {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_04:hover > #resume_layout_04_text {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_04:hover > #resume_layout_04_text h2 {
    text-shadow: 2px 20px 15px rgba(255, 255, 255, .3);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_04:hover > #resume_layout_04_text p {
    text-shadow: 2px 20px 15px rgba(0, 139, 139, .5);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}


#resume_layout_05:hover {
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);

    -webkit-transform: perspective(200px) rotateX(20deg);
    -moz-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(5deg);
}
#resume_layout_05:hover > .resume_outline {
    top: -10%;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_05:hover > .resume_middle {
    top: -5%;
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);
    background: rgba(0, 0, 0, .1);
    border: solid thin rgba(128, 128, 128, .5);
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_05:hover > .resume_middle_outline {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_05:hover > #resume_layout_05_text {
    top: -5%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_05:hover > #resume_layout_05_text h2 {
    text-shadow: 2px 20px 15px rgba(255, 255, 255, .3);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_05:hover > #resume_layout_05_text p {
    text-shadow: 2px 20px 15px rgba(0, 139, 139, .5);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}


#resume_layout_06:hover {
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);

    -webkit-transform: perspective(200px) rotateX(20deg);
    -moz-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(5deg);
}
#resume_layout_06:hover > .resume_outline {
    top: -10%;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_06:hover > .resume_middle {
    top: -5%;
    box-shadow: 2px 10px 15px 10px rgba(0, 255, 255, .1);
    background: rgba(0, 0, 0, .1);
    border: solid thin rgba(128, 128, 128, .5);
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_06:hover > .resume_middle_outline {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}
#resume_layout_06:hover > #resume_layout_06_interests {
    top: -15%;
    opacity: 1;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}



@media (max-width: 1000px) {
    #portfolio {
        width: 90%;
    }
    #resume_layout_01_pic {
        left: 5%;
        width: 50%;
        height: 150px;
        background-size: contain;
    }
    #resume_layout_01_text {
        top: 10%;
        left: 55%;
    }
    #resume_layout_01_text h1 {
        width: 80%;
        font-family: micro;
        font-size: 14px;
        color: cyan;
    }
}
@media (max-width: 850px) {
    #welcome h1 {
        color: cyan;
        font-family: micro;
        font-size: 24px;
        letter-spacing: 1px;
    }
    #welcome h2 {
        font-family: dinotcond;
        color: darkcyan;
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    #resume_layout_01_pic {
        left: 5%;
        width: 50%;
        height: 150px;
        background-size: contain;
    }
    #resume_layout_01_text {
        top: 15%;
        left: 55%;
    }
    #resume_layout_01_text h1 {
        width: 80%;
        font-family: micro;
        font-size: 10px;
        color: cyan;
    }
    #resume_layout_01_text p {
        color: rgb(0, 194, 194);
        text-indent: 10px;
        line-height: 5px;
        font-family: dinotcond;
        font-size: 10px;
        letter-spacing: 1px;
    }
    
    .photography_pic {
        height: 200px;
    }
    #multimedia_video {
        height: 1800px;
    }
    #multimedia_video_01 {
        grid-column: 1;
        grid-row: 1;
    }
    #multimedia_video_02 {
        grid-column: 1;
        grid-row: 2;
    }
    #multimedia_video_03 {
        grid-column: 1;
        grid-row: 3;
    }
    #multimedia_video_04 {
        grid-column: 1;
        grid-row: 4;
    }
    #multimedia_video_05 {
        grid-column: 1;
        grid-row: 5;
    }
    #multimedia_video_06 {
        grid-column: 1;
        grid-row: 6;
    }
}
@media (max-width: 750px) {
    #resume_02_facebook {
        display: inline-block;
        margin: 5px;
        width: 30px;
        height: 30px;
        background-image: url(../images/resume_facebook.png);
        background-repeat: no-repeat;
        background-size: contain;
    
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_facebook:hover {
        margin: 10px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_instagram {
        display: inline-block;
        margin: 5px;
        width: 30px;
        height: 30px;
        background-image: url(../images/resume_instagram.png);
        background-repeat: no-repeat;
        background-size: contain;
    
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_instagram:hover {
        margin: 10px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_codepen {
        display: inline-block;
        margin: 5px;
        width: 30px;
        height: 30px;
        background-image: url(../images/resume_codepen.png);
        background-repeat: no-repeat;
        background-size: contain;
    
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_codepen:hover {
        margin: 10px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_jsfiddle {
        display: inline-block;
        margin: 5px;
        width: 30px;
        height: 30px;
        background-image: url(../images/resume_js_fiddle.png);
        background-repeat: no-repeat;
        background-size: contain;
    
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_jsfiddle:hover {
        margin: 10px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_github {
        display: inline-block;
        margin: 5px;
        width: 30px;
        height: 30px;
        background-image: url(../images/resume_git.png);
        background-repeat: no-repeat;
        background-size: contain;
    
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #resume_02_github:hover {
        margin: 10px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}
@media (max-width: 700px) {
    #resume {
        height: 1850px;
    }
    #resume_layout_01 {
        width: 100%;
    }
    #resume_layout_01_text {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 50%;
        opacity: .1;
    
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    #resume_layout_01_text h1 {
        font-family: micro;
        font-size: 14px;
        color: cyan;
    }
    #resume_layout_01_text p {
        color: rgb(0, 194, 194);
        text-indent: 10px;
        line-height: 5px;
        font-family: dinotcond;
        font-size: 14px;
        letter-spacing: 1px;
    }
    #resume_layout_02 {
        top: 210px;
        left: 0;
        width: 100%;
    }
    #resume_layout_03 {
        top: 420px;
        left: 0;
        width: 100%;
    }
    #resume_layout_04 {
        top: 830px;
        left: 0;
        width: 100%;
    }
    #resume_layout_05 {
        top: 1240px;
        left: 0;
        width: 100%;
    }
    #resume_layout_06 {
        top: 1650px;
        left: 0;
        width: 100%;
    }
}
@media (max-width: 600px) {
    #welcome h1 {
        color: cyan;
        font-family: micro;
        font-size: 12px;
        letter-spacing: 1px;
    }
    #welcome h2 {
        font-family: dinotcond;
        color: darkcyan;
        font-size: 12px;
    }
    #welcome p {
        width: 90%;
        color: gray;
    }


    #web_full_intro {
        flex-direction: column;
        height: 500px;
    }
    #web_element_intro {
        flex-direction: column;
        height: 500px;
    }

    .photography_pic {
        height: 300px;
        background-size: contain;
    }
    #photography_people_02 {
        grid-column: 1;
        grid-row: 2;
    }
    #photography_people_03 {
        grid-column: 1;
        grid-row: 3;
    }
    #photography_people_04 {
        grid-column: 1;
        grid-row: 4;
    }
    #photography_people_05 {
        grid-column: 1;
        grid-row: 5;
    }
    #photography_people_06 {
        grid-column: 1;
        grid-row: 6;
    }
    #photography_places_02 {
        grid-column: 1;
        grid-row: 2;
    }
    #photography_places_03 {
        grid-column: 1;
        grid-row: 3;
    }
    #photography_places_04 {
        grid-column: 1;
        grid-row: 4;
    }
    #photography_places_05 {
        grid-column: 1;
        grid-row: 5;
    }
    #photography_places_06 {
        grid-column: 1;
        grid-row: 6;
    }
    #photography_things_02 {
        grid-column: 1;
        grid-row: 2;
    }#photography_things_03 {
        grid-column: 1;
        grid-row: 3;
    }
    #photography_things_04 {
        grid-column: 1;
        grid-row: 4;
    }
    #photography_things_05 {
        grid-column: 1;
        grid-row: 5;
    }
    #photography_things_06 {
        grid-column: 1;
        grid-row: 6;
    }

    .digital_art_pic {
        height: 300px;
        background-size: contain;
    }
    #digital_art_02 {
        grid-column: 1;
        grid-row: 2;
    }
    #digital_art_03 {
        grid-column: 1;
        grid-row: 3;
    }
    #digital_art_04 {
        grid-column: 1;
        grid-row: 4;
    }
    #digital_art_05 {
        grid-column: 1;
        grid-row: 5;
    }
    #digital_art_06 {
        grid-column: 1;
        grid-row: 6;
    }
    #digital_art_07 {
        grid-column: 1;
        grid-row: 7;
    }
    #digital_art_08 {
        grid-column: 1;
        grid-row: 8;
    }
    #digital_art_09 {
        grid-column: 1;
        grid-row: 9;
    }

    .portfolio_resume_pic {
        height: 300px;
        background-size: contain;
    }
    #portfolio_resume_prep_02 {
        grid-column: 1;
        grid-row: 2;
    }
    #portfolio_resume_prep_03 {
        grid-column: 1;
        grid-row: 3;
    }
    #portfolio_resume_prep_04 {
        grid-column: 1;
        grid-row: 4;
    }
    #portfolio_resume_prep_05 {
        grid-column: 1;
        grid-row: 5;
    }
    #portfolio_resume_prep_06 {
        grid-column: 1;
        grid-row: 6;
    }
    #portfolio_resume_prep_07 {
        grid-column: 1;
        grid-row: 7;
    }
    #portfolio_resume_prep_08 {
        grid-column: 1;
        grid-row: 8;
    }
    #portfolio_resume_prep_09 {
        grid-column: 1;
        grid-row: 9;
    }
    
}
@media (max-width: 500px) {
    #welcome_header {
        margin: 150px auto 0 auto;
    }

    #whats_new_concepts_text h1 {
        font-family: micro;
        color: cyan;
        letter-spacing: 1px;
        margin-left: 20px;
        font-size: 18px;
    }

    #resume_layout_01_pic {
        background-size: 70%;
    }
    #resume_layout_01_text {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 50%;
        opacity: .1;
    
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    #resume_layout_01_text h1 {
        font-family: micro;
        font-size: 14px;
        color: cyan;
    }
    #resume_layout_01_text p {
        color: rgb(0, 194, 194);
        text-indent: 10px;
        line-height: 5px;
        font-family: dinotcond;
        font-size: 14px;
        letter-spacing: 1px;
    }
    #resume_layout_03 p {
        font-size: 10px;
        text-indent: 20px;
        line-height: 10px;
    }

    #cards {
        flex-direction: column;
        height: 600px;
    }
    #footer_wrap {
        margin-top: 200px;
    }
}